:root {
  --white: #ffffff;
  --black: #000000;

  --light-gray: #f5f7fa;
  --gray: #ccc;
  --dark-gray: #333;
  --muted-gray: rgb(65, 64, 64);
  --disabled-gray: gray;

  --blue: #2563EB;
  --light-blue: rgb(164, 223, 243);
  --lighter-blue: rgb(210, 240, 249);
  --bright-blue: rgb(6, 186, 240);
  --link-blue: rgb(38, 38, 207);

  --shadow-black: rgba(0, 0, 0, 0.1);

  --orange: orange;
  --light-red: rgb(230, 163, 163);
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--light-gray);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 500px;
  height: 300px;
  margin: 80px auto;
  padding: 24px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 10px 25px var(--shadow-black);
}

form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--dark-gray);
}

input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 5px;
  font-size: 16px;
  outline: none;
}

.custom-select {
  position: relative;
  width: 100%;
  color: var(--black);
}

.custom-select-label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--dark-gray);
}

.custom-select-trigger {
  width: 100%;
  min-height: 45px;
  padding: 0px 12px 0 0;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
}

.custom-select-trigger input{
  margin: 5px 0;
}
.custom-select-trigger span{
  font-size: 15px;
}
.custom-select-trigger:hover {
  border-color: var(--link-blue);
}

.custom-select-trigger p {
  padding-left: 5px;
}

.custom-select-options {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 150px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  border-radius: 6px;
  margin-top: 4px;
  overflow-y: auto;
  list-style: none;
  padding-inline-start: 0;
  z-index: 1;
  overflow: auto;
}

.no-custom-select-options {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 40px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  border-radius: 6px;
  margin-top: 4px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-select-option {
  height: 45px;
  cursor: pointer;
  width: 100%;
  border-bottom: 0.1px solid var(--gray);
}

.search-view {
  padding: 10px;
  width: 100%;
  border-bottom: 0.1px solid var(--gray);
  padding-left: 170px;
  color: var(--link-blue);
}

.no-custom-select-option {
  padding: 0px 15px;
  width: 100%;
  font-size: 16px;
  color: var(--muted-gray);
}

.custom-select-option:hover {
  background-color: var(--lighter-blue);
}

.selected {
  background-color: var(--light-blue);
}

.custom-select-option.disabled {
  background-color: var(--lighter-blue);
  color: var(--disabled-gray);
  cursor: not-allowed;
}

.custom-select-option.highlight {
  background-color: var(--lighter-blue);
}

.custom-select-option.user-highlight {
  background-color: var(--bright-blue);
}

.custom-select-option.user-disabled {
  background-color: var(--black);
  color: var(--white);
}

.no-option {
  font-size: 5px;
  height: 5px;
}

.option-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

.option-label input {
  width: 7%;
  height: 50%;
}

.multiple-options-container {
  width: 85%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
}

.multiple-options-container input {
  max-width: 30%;
}

.multiple-options {
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  padding: 5px;
  margin:  2px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 14px;
  white-space: nowrap;
}

.multiple-options span {
  background-color: transparent;
  border-radius: 15px;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.option-label:has(input:checked) {
  background-color: var(--light-blue);
}